.show{
    overflow: hidden;
    height: 500px;
    border: 1px solid black;
    /*justify-content: space-between;*/
    margin: 30px auto;
    padding: 0;
}
.content{
    position: absolute;
    left: 0px;
    border: 1px solid black;
    padding: 0;
    float: left;
    height: 100%;
}
.contents{
    display: inline-block;
    position: relative;
    padding: 0;
    float: left;
    height: 100%;
    border: 1px solid black;
}